.ova-audio-main-slider {

	.main-slide-audio {
		position: relative;
		
		.owl-dots{
			text-align: center;
			margin-top: 55px;
			line-height: 1;
			@media (max-width: 1024px) {
				margin-top: 20px;
			}
			.owl-dot{
				outline: none;
				span{
					width: 10px;
					height: 10px;
					margin: 5px;
					background: rgba(0,0,0,0.3);
					border-radius: 50%;
					display: block;
					-webkit-backface-visibility: visible;
					transition: opacity .2s ease;
				}
				&.active{
					span{
						background: var(--primary);
					}
				}
			}
		}

		.owl-nav {
			button {
				&.owl-prev, &.owl-next {
	                transition: all 0.3s ease;
				    -moz-transition: all 0.3s ease;
				    -webkit-transition: all 0.3s ease;
				    -o-transition: all 0.3s ease;
				    position: absolute;
					top: 50%;
					transform: translateY(-50%); 
				    display: inline-flex;
				    justify-content: center;
				    align-items: center;
				    width: 50px;
				    height: 50px;
				    background: #00000073;
				    border-radius: 50%;
				    margin: 0 5px;
				    &:hover {
				    	transition: all 0.3s ease;
					    -moz-transition: all 0.3s ease;
					    -webkit-transition: all 0.3s ease;
					    -o-transition: all 0.3s ease;
					    background-color: var(--primary);
				    }
				    i {
				    	display: inline-flex;
					    font-size: 15px;
					    color: #fff;
					   
				    }
				}
				&.owl-prev {
					left: -85px;
					@media (max-width: 1200px) {
						left: 5px;
					}
				}
				&.owl-next {
					right: -85px;
					@media (max-width: 1200px) {
						right: 5px;
					}
				}
			}
		}

	}
}

.rtl {
	.ova-audio-slider-3 {
		.slide-audio-3 .owl-nav {
			right: unset;
			left: 10px;
		}
	} 
}